@use './_variables.scss' as *;

body {
    background-color: $background-primary;
    color: $text-primary;
    font-family: $font-primary;
}

.container {
    padding: 0 20px;
    max-width: 767px;
}

.card {
    background-color: $background-secondary;
    border-radius: 12px;
    padding: 16px;
    text-align: center;
    cursor: pointer;
    transition: background 0.2s;
    text-decoration: none;
    color: #ffffff;
}
.card:hover {
    background-color: $background-secondary-hover;
}
.card span {
    font-weight: 600;
}
.card img {
    height: 60%;
}